extends layout
block content
  h1= title
  - let drinksid = toShow._id
  - let drinksName = toShow.drinks_name
  - let drinksCompany = toShow.company_name
  - let drinksQuantity = toShow.drinks_quantity

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{drinksid}
  - let actionid = "/resource/drinks/" + drinksid
  form(id='drinksForm', action="actionid", method="PUT")
    div.form-group
        label.drinksAttr(for='drinks_name') Drink type
        input#drinks_name(type='text', name='drinks_name' value='drinksName')
    div.form-group
        label.drinksAttr(for='company_name') Company Name
        input#company_name(type='text', name='company_name' value='drinksCompany')
    div.form-group
        label.drinksAttr(for='drinks_quantity') Drinks quantity
        input#drinks_quantity(type='number', name='drinks_quantity' value='drinksQuantity')
    input(type="submit")

  script.
    document.forms['drinksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
        // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });